

    root {
      flex-grow: 1;
      padding-top: 2em;
    }
    paper {
      padding: 2em;
      margin: 'auto';
      max-width: 500;
    }
    image {
      width: 128;
      height: 128;
    }
    img {
      margin: 'auto';
      display: 'block';
      max-width: '100%';
      max-height: '100%';
    }
    container {
      margin-top: '8em';
      margin-bottom: '8em';
    }
    grid {
      height: '100%';
    }
    userCard {
      padding: '2em';
      border: '1px solid';
      border-color: gray;
      border-radius: '1em';
      margin-bottom: '2em';
    }
    button {
      margin-left: '2em';
    }