root {
    flex-grow: 1;
    padding-top: 2em;
}
paper {
    padding: 2em;
    margin: 'auto';
    max-width: '60%';
}
image {
    width: 128;
    height: 128;
}
img {
    margin: 'auto';
    display: 'block';
    max-width: '100%';
    max-height: '100%';
}
body {
    padding-top: 2em;
    flex: 1;
    justify-content: 'center';
    align-items: 'center';
    margin-bottom: 8em;
}