.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .not-found-title {
    font-size: 5rem;
    color: #333;
  }
  
  .not-found-text {
    font-size: 2rem;
    color: #666;
    margin-top: 2rem;
  }
  
  .not-found-image {
    width: 15rem;
    margin-top: 3rem;
  }
  