.root {
    flex-grow: 1;
    align-content: center;
    padding-top: 2em;
}

.paper {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: 'auto';
    min-width: 40%;
}

.Grid {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.subirFoto{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0.5px solid #6573c3;
    color: #3f51b5;
    padding: 1ch;
    font-weight: bolder;
    /*cursor: pointer; #757de8*/
}

.img {
    max-width: 22em;
    max-height: 22em;
    min-width: 10em;
    min-height: 10em;
}

.Icono {
    min-width: 2em;
    min-height: 2em;
    color: #3f51b5;
}